name: diabetes-sklearn-mlp
on: [push]
jobs:
  run:
    runs-on: [ubuntu-latest]
    container: docker://dvcorg/cml-py3:latest
    steps:
      - uses: actions/checkout@v2
      - name: cml_run
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Your ML workflow goes here
          sudo -H pip install -r requirements.txt
          python 02_sklearn_MLP.py
          
          echo "Model Metrics"
          cat sklearn_metrics.txt
